The sequence is of the format: ['red','yellow','blue']

1 2 3 4 5 6 7 8 9 10 11 12 13.....

ex: 1-red; 2-yellow; 3-blue etc.


We have a recursive function as below:


f(1) = 1


f(n) = f(n - 1) + n

The three terms of the same colour "blue", higher than 3, are: [6, 15, 21]

We need a function same_col_seq(), that may receive three arguments:

val, an integer number
k, an integer number
colour, the name of one of the three colours(red, yellow or blue), as a string.

The function will output a sorted array with the smallest k terms, having the same marked colour, but higher than val.

Let's see some examples:

same_col_seq(3, 3, 'blue') == [6, 15, 21]
same_col_seq(100, 4, 'red') == [136, 190, 253, 325]
The function may output an empty list if it does not find terms of the sequence with the wanted colour in the range [val, 2 k val]

same_col_seq(250, 6, 'yellow') == []
That means that the function did not find any "yellow" term in the range [250, 3000]

Tests will be with the following features:

number of tests = 100
100 < val < 1000000
3 < k < 20

Approach:

1. Have 1 dict with 3 keys namely 'red','yellow','blue' with sequence of numbers generated as lists till a bound of (2*k*val)
2. Have a list that has values obtained from the recursive function provided in the problem statement from 1 till (2*k*val)
3. Then have a loop that runs between range(val,2*k*val) to fetch k numbers after val in an ascending order; if there aren't k numbers after val for a specific set of (val,k,'color') inputs, then return an empty list, i.e. []

Basic Tests

test.assert_equals(same_col_seq(3, 3, 'blue'),  [6, 15, 21])
test.assert_equals(same_col_seq(100, 4, 'red'), [136, 190, 253, 325])
test.assert_equals(same_col_seq(250, 6, 'yellow'), [])
test.assert_equals(same_col_seq(1000, 7, 'red'), [1081, 1225, 1378, 1540, 1711, 1891, 2080])

In [8]:
test_dict={'r':[1], 'y':[2], 'b':[3]}
k=2; val=100;
y=[i for i in range(3,2*k*val,3)]
# print(y)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399]

In [11]:
def rec_list(k, val):
    lower=1; 
    upper=2*k*val
    recList=[1]
    for i in range(2,upper):
        rec_i=lower+i
        recList.append(rec_i)
        lower=rec_i
    return recList

In [12]:
print(rec_list(1,50))

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325, 351, 378, 406, 435, 465, 496, 528, 561, 595, 630, 666, 703, 741, 780, 820, 861, 903, 946, 990, 1035, 1081, 1128, 1176, 1225, 1275, 1326, 1378, 1431, 1485, 1540, 1596, 1653, 1711, 1770, 1830, 1891, 1953, 2016, 2080, 2145, 2211, 2278, 2346, 2415, 2485, 2556, 2628, 2701, 2775, 2850, 2926, 3003, 3081, 3160, 3240, 3321, 3403, 3486, 3570, 3655, 3741, 3828, 3916, 4005, 4095, 4186, 4278, 4371, 4465, 4560, 4656, 4753, 4851, 4950]

In [32]:
def same_col_seq(val, k, col):
    # your code here
    # r, y, b = [1], [2], [3]
    r=[i for i in range(1,2*2*k*val,3)]; y=[i for i in range(2,2*2*k*val,3)]; b=[i for i in range(3,2*2*k*val,3)]
    ref_dict={'red':r, 'yellow':y, 'blue':b}
    # print(ref_dict)
    rec_seq=rec_list(k,val)
    # cntd - Dec-11-2K18
    # print(rec_seq)
    num = [i for i in ref_dict[col] if i > val and i in rec_seq]
    num.sort()
    # print(num)
    if len(num) < k:
        return []
    else:
        return num[:k]

In [33]:
same_col_seq(50,1,'red')

[55]

In [34]:
same_col_seq(3, 3, 'blue')

[6, 15, 21]

In [35]:
same_col_seq(100, 4, 'red')

[136, 190, 253, 325]

In [36]:
same_col_seq(250, 6, 'yellow')

[]

In [37]:
same_col_seq(1000, 7, 'red')

[1081, 1225, 1378, 1540, 1711, 1891, 2080]

Try on codewars again and see if it runs! Nope. TimeOut!